<div class="tasks-container">
    <!-- Add New Task Button -->
    <div class="tasks-header">
        <h2>Tasks</h2>
        <button class="add-task-btn" (click)="onAddTask()">Add New Task</button>
    </div>

    <!-- Tasks Grid using PrimeNG p-table -->
    <p-table [value]="tasks" [paginator]="true" [rows]="10" [columns]="columns">
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let col of columns">{{ col.header }}</th>
                <th>Actions</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-task>
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.title }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.status }}</td>
                <td>{{ task.dueDate | date }}</td>
                <td>
                    <p-menu [model]="actions" [context]="task" appendTo="body"></p-menu>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
